@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-navy bg-gradient-to-br from-cream via-cream to-gold/20;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}